// overwrite theme variables

// Default variable overrides
$body-bg: #000;
$body-color: #fff;

$primary: #86c232;
$secondary: #61892f;
$grey: #474b4f;
$lightGrey: #6b6e70;
$card-bg: #222629;

.min-h-project {
  min-height: 34.375rem;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat:wght@400;700;900&family=Roboto&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

*::-webkit-scrollbar {
  width: 0.313rem;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fff;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
}
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  color: $primary;
}

.nav-btn {
  margin-right: 0px !important;
}

.btn {
  border-radius: 3.125rem;
  padding: 0.625rem 0.938rem;
  font-size: 1.375rem;
  font-weight: 400;
  max-width: 12.5rem;
  min-width: 9.375rem;
}

.main-padding {
  padding: 0.625rem 0.938rem;
}

.nav-btn {
  padding: 0.313rem;
}

.outline-primary {
  background-color: transparent;
  border-color: $primary;
  color: $body-color;
}
.main-btn {
  background-color: $primary;
  color: $body-bg;
}
.card-title {
  font-size: 2.25rem;
  font-weight: 700;
}
.card-text {
  font-size: 1.25rem;

  line-height: 2rem;
}

.hero-title {
  font-size: 2.5rem;
}

.hero-card {
  min-height: 100%;
}

.card,
.card-img {
  border-radius: 1.875rem;
  background-color: $card-bg;
  --bs-card-border-width: 0px;
}

.card-height {
  min-height: 20rem;
}

.image-gradient {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 70.81%);
  overflow: hidden;
}

.card-padding {
  padding: 0.938rem;
}

.hero-card-text {
  width: 75%;
}

.info-row {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 75rem;
}

.skill-box p {
  margin-bottom: 0 !important;
}

.skill-box {
  max-height: 100px;
}

.image-card {
  max-height: 13.125rem;
  height: 100%;
  cursor: pointer;
}
.icons {
  height: 6rem;
  // width: 6.25rem;
}

.navbar-toggler {
  display: flex;
  justify-self: flex-end;
}

.w-33 {
  width: 32%;
}

.projects {
  overflow-x: hidden;
  overflow-y: hidden !important;
  display: flex;
  position: relative;
  margin: 1.2rem 0;
  // flex-wrap: wrap;
}

.proj-hove {
  transition: transform 0.2s ease-in-out;
  // z-index: 2;
  cursor: pointer;
  margin: 0;

  overflow: hidden;
}

.bg-proj {
  background: linear-gradient(0deg, #000000 7.21%, rgba(0, 0, 0, 0) 45.13%);
}
.proj-hove:hover {
  transform: scale(1.02);
}

.info {
  transform: translateY(30%);
  opacity: 0;
  z-index: 0;
  transition: transform 0.3s ease-in-out;
  will-change: opacity, transform;
  position: absolute;
  width: 100%;
  padding: 0.6rem;
  font-size: 24px;
  color: white;
  margin: 0;
  border: none;
}

.visible-info {
  transform: translateY(0);
  opacity: 1;
  margin: 0;
}

.similar-projects {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

.image-container {
  width: 100%;
  padding: 0;
  // position: relative;
  height: 34.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  margin-bottom: 30px;
}

.portfolio-nav {
  margin: 0.9rem 0;
  padding: 0;
}

.portfolio-button {
  transition: transform 500ms ease-in-out;
  padding: 0 !important;
  max-width: 9rem !important;
  background: none;
  color: #fff;
  margin-right: 0.6rem;
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient($primary 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.project-type-active {
  text-underline-offset: 0.2rem;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}
.project-type-not-active {
  text-decoration: none;
}

// animation
.animation-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 1.875rem;
}

.background-blur {
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
  width: 80%;
  height: 70%;
  filter: blur(150px);
  z-index: -1;
  background: -webkit-linear-gradient(
    to right,
    #01a72b,
    #86c232,
    #a8e063,
    #84ee95
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #01a72b,
    #86c232,
    #a8e063,
    #84ee95
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 300%;
  background-position: left;
  @keyframes move {
    0% {
      background-position: left;
      transform: translate(0);
    }
    100% {
      background-position: right;
      transform: translate(50%, 50%);
    }
  }
  animation: move 25s infinite alternate;
}

.form-box {
  // background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

// Form

.form-container {
  background-color: $body-bg;
  width: 100%;
  height: 100%;
}

.form-btn {
  background: none;
  color: #fff;
  border-radius: 0;
  font-size: 1.125rem;

  margin-right: 1.875rem;
}

.form-check-input[type="checkbox"] {
  border-color: #fff;
}

.form-label {
  font-size: 1.3rem;
}

.text-area {
  resize: none;
}

.submit-btn {
  border-radius: 0;
}

.error {
  border-color: red;
}

@media only screen and (max-width: 576px) {
  .card {
    width: 100%;
  }

  .hero-title {
    font-size: 1.8rem !important;
  }

  .hero-card {
    width: 100%;
    flex: 1;
  }
  .card-height {
    // height: 25rem;

    overflow: visible;
  }
  .card-padding {
    padding: 0.6rem;
  }
  .btn {
    padding: 0.425rem 0.738rem;
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 10.5rem;
    min-width: 7.375rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .icons {
    height: 5rem;
  }
  .icon-box {
    min-width: 6.2rem;
  }
  .toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .form-box {
    flex-wrap: wrap;
  }
  .hero-card {
    height: 100%;
    min-height: 31.25rem;
    margin-bottom: 0.938rem;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 932px;
  }
  .projects {
    overflow-x: scroll;
    padding-bottom: 0.7rem;
  }

  .card-height {
    min-height: 100%;
    // min-height: 20rem;
  }

  // .hero-card {
  //   height: 100%;
  // }

  .card-carousel {
    height: 22rem;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-text {
    font-size: 1.2rem;
  }

  .image-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    // height: 31.25rem;
  }

  .project-img {
    width: 100%;
    position: absolute;
  }
}

@media only screen and (max-width: 1220px) {
  .container {
    max-width: 1160px;
  }
}

// Then add additional custom code here
