// overwrite theme variables

// Default variable overrides
$body-bg: #000;
$body-color: #fff;

$primary: #86c232;
$secondary: #61892f;
$card-bg: #222629;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat:wght@400;700;900&family=Roboto&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1.875rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.btn {
  border-radius: 3.125rem;
  padding: 0.625rem 0.938rem;
  font-size: 1.375rem;
  font-weight: 400;
  max-width: 12.5rem;
  min-width: 9.375rem;
}

.main-padding {
  padding: 0.938rem;
}

.outline-primary {
  background-color: transparent;
  border-color: $primary;
  color: $body-color;
}
.main-btn {
  background-color: $primary;
  color: $body-bg;
}
.card-title {
  font-size: 2.25rem;
  font-weight: 700;
}
.card-text {
  font-size: 1.375rem;
  margin: 0.938rem 0 1.875rem 0;
  line-height: 2.25rem;
}

.hero-title {
  font-size: 2.5rem;
}

// .card {
//   height: 100%;
//   min-height: 18.75rem;
//   max-height: 45rem;
// }

.hero-card {
  min-height: 50rem;
  max-height: 55rem;
}

.card,
.card-img {
  border-radius: 1.875rem;
  background-color: $card-bg;
  --bs-card-border-width: 0px;
}

.card-height {
  height: 24.063rem;
}

.image-gradient {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 70.81%);
  overflow: hidden;
}

.card-padding {
  padding: 0.938rem;
}

.hero-card-text {
  width: 75%;
}

.info-row {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 576px) {
  .card {
    width: 100%;
  }

  .hero-title {
    font-size: 1.8rem !important;
  }

  .hero-card {
    min-height: 35.625rem;
  }
  .card-height {
    height: 25rem;
    overflow: visible;
  }
  .card-padding {
    padding: 0.438rem;
  }
  .btn {
    padding: 0.425rem 0.738rem;
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 10.5rem;
    min-width: 7.375rem;
  }
}

.skill-box {
  max-height: 120px;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 932px;
  }

  .card-height {
    height: auto;
    min-height: 20rem;
  }

  .card-carousel {
    height: 22rem;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1220px) {
  .container {
    max-width: 1160px;
  }
}

// Then add additional custom code here
